/* General changes */

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 15px;
}

a {
    font-size: 12px;
    text-decoration: none;
    color: #e5e7eb;
}

.section-1, .footer {
    background-color: #1F2937;
}

.section-2, .section-4 {
    background-color: white;
}

.section-3 {
    background-color: #e5e7eb;
}

/* Section 1: */

.header {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
}

.logo {
    margin-left: 20px;
    font-weight: bold;
}
 
.logo a {
    font-size: 14px;
}

.section-1 .container { 
    margin-top: 15px;
    margin-bottom: 100px;    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section-1 .content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 500px;
    margin-left: 10px;
}

.image {
    background-color: gray;
    width: 350px;
    height: 150px;
}

div .image {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    color: white;
}

button {
    background-color: #3882f6;
    max-width: 100px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 600;
    padding: 5px;
    margin-top: 10px;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}

.content .desc {
    font-size: 12px;
    color: #E5E7EB;
}

/* Section 2 */

.section-2 {
    display: flex;
    flex-direction: column; 
    gap: 25px;
}

.section-2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.section-2 .text {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 40px;
}

.section-2 .item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.card {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid #3882f6;
    margin-bottom: 10px;
}

.section-2 .desc {
    text-align: center;
}

/* Section-3: */

.section-3 {
    display: flex;
    flex-direction: column;
    padding: 150px;
}

.section-3 .quote {
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.section-3 .author {
    text-align: right;
    font-weight: bold;
    font-size: 22px;
}

/* Section-4: */

.section-4 {
    padding: 100px;
    display: flex;
    gap: 25px;
    justify-content: space-around;
}

.section-4 .box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    padding: 40px;
    border-radius: 10px;
    background-color: #3882f6;  
}

.section-4 .text {
    color: #e5e7eb;
}

.section-4 .button {
    border: 2px solid #f9faf8;
    border-radius: 5px;
    padding-inline: 25px;
}

.section-4 button {
    font-size: 16px;
}

/* Footer: */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    text-align: center;
    color: #f9faf8;
}